.mod-map #map-canvas img {
  max-width: none;
}

.weather-title {
	padding-top: 5px;
	padding-left: 10px;
}

#weatherForecast,
#CurWeather {
	background-color: rgb(220, 220, 220);
	border-radius: 4px;
	border-weight: 3px;
	margin: 5px;
}

.no-left-margin {
	margin-left: 0px;
}

#weatherBtn {
	margin-left: 10%;	
	margin-right: 10%;
	width: 80%;
}

#prevForecastItemImg {
	content: url(/assets/images/icons/arrow-left.png);
	background-repeat: no-repeat;
	width: 30px;
	height: 30px;
	
}

#nextForecastItemImg {
	content: url(/assets/images/icons/arrow-right.png);
	background-repeat: no-repeat;
	width: 30px;
	height: 30px;
}