	.mod-header {
	width: 100%;
	background-color: #00182E;
	color: #D4D6D4;
	/*position: fixed;*/
}

.nav-pills > .active > a,
.nav-pills > .active > a:hover,
.nav-pills > .active > a:focus {
	background-color: #FFFDEB;
	color: #FF7500;
}



.mod-header .brand {
	padding-top: 25px;
	
}
	

