<div class="mod mod-header">
    <!-- Navigation -->
    <div class="container">
            <a class="brand span1" href="index">
                <img src='/assets/images/icons/seapal_normal.png' alt='Icon-Small-50' width='50' height='50' />
            </a>
            <div class="span10">
                <h1 >Seapal</h1>
                <ul class="nav nav-pills">
                    <li><a href='/index'>Home</a></li>
                    <li><a href='/app/weather'>App</a></li>
                    <li><a href='/userguide'>User Guide</a></li>
                    <li><a href='/screenshots'>Screenshots</a></li>
                    <li><a href='/about'>About</a></li>
                    <li><a href='/contact'>Contact</a></li>
                </ul>
            
            </div>
    </div>
</div>
