<div class="mod mod-map" data-connectors="crossmenu,markermenu,routemenu">
	<h2 align="center">Map</h2>
	<div class="container-fluid">
		<div class="row well">
			<div class="span2" >
				<div id="centerKoordsDisplay">
					<span>Center:</span>
	            	<div id="centerKoordsDisplayLat">Latitude</div>
	            	<div id="centerKoordsDisplayLng">Longitude</div>
	        	</div>
				<button id="weatherBtn">Weather</button>
	        	<div id="crossKoordsDisplay">
					<span>Crosshair:</span>
					<div id="crossKoordsDisplayLat"></div>
					<div id="crossKoordsDisplayLng"></div>
				</div>
				<div id="distanceDisplay">
					<span>Crosshair distance:</span>
					<div id="distanceDisplayValue"></div>
				</div>
				<div id="CurWeather" align="center">		
					<div class="weather-title" align="left"><b>Current Weather:</b></div>
					<div id="CurWeatherDisplay"></div>
				</div>
				<div id="weatherForecast" align="center">
					<div class="weather-title" align="left"><b>Weather Forecast</b></div>
					<div id="forecastSwipe" class="swipe">
						<div class='swipe-wrap'>

						</div>
					</div>
					<button id="prevForecastItem" align="left">Prev</button>
					<button id="nextForecastItem" align="right">Next</button>
					<div id="forecastSlidePosition"></div>
				</div>


				
			</div>
			
			
			@contextmenucross()
			@contextmenumarker()
			@contextmenuroute()
			
				
			<div id="map-canvas"></div>

		</div>

	</div>
</div>