<!DOCTYPE html>

<html>
    <head>
        <title>#{get 'title' /}</title>
        <meta charset="${_response_encoding}">
        
		<!-- Meta Informations -->
		<meta charset="utf-8">
		<meta http-equiv='content-type' content='text/html; charset=utf-8'/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name='keywords' content='sailing, app, navigation, sea map, boat, skipper'/>
		<meta name='description' content='SeaPal is a mobile app for sailors to do navigation, tracking and more.'/>
		<meta name="author" content="Prof. Dr. Marko Boger, Patrick Rossnagel, BlackDrityBit, Jakub Werner">
		<title>Seapal</title>
		
		<!-- Favicon -->
		<link rel='icon' type='image/png' href='../img/icons/seapal_normal.png'/>
		
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/main.css'}">
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/style.css'}">
		
		<!-- Styles -->
		<link href="@{'/public/javascripts/lib/bootstrap/css/bootstrap.css'}" rel="stylesheet">
		<link href="@{'/public/javascripts/lib/bootstrap/css/bootstrap-responsive.css'}" rel="stylesheet">
        #{get 'moreStyles' /}
        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
        
        
		<!--  Helper -->
		<script type="text/javascript" src="@{'/public/javascripts/static/helper.js'}"></script>
        
        <script src="@{'/public/javascripts/jquery.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        #{get 'moreScripts' /}
        
		<script type="text/javascript" src="@{'/public/javascripts/static/main.js'}"></script>
		
		<script src="@routes.Assets.at("javascripts/main.js")"></script>
    </head>
    <body>
  		<div id="header">
		</div>
		
        #{doLayout /}
        
  		<div id="footer">
		</div>
        
    </body>
</html>
